    #resultados{
        display: inline;
    
    }
    #video{
        border: 5px solid black;
        border-radius: 25px;
        background-color: black;
    }
    .active{
        display:block;
    }
    .noactive{
        display:none;
    }
    #Registro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #perfileImg{
        border: 4px solid black;
        border-radius: 10px;
        background-color: black;
    }
    #game{
        border: 4px solid;
        border-radius: 15px;
    }
    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }