    #resultados{
        display: inline;
    
    }
    #video{
        border: 5px solid black;
        border-radius: 25px;
        background-color: black;
    }
    .active{
        display:block;
    }
    .noactive{
        display:none;
    }
    #img{
        border: 3px solid black;
        border-radius: 10px;
    }
    #divPerfil{
        text-align: right;
    }
